.contact-container{
    max-width: 800px;
    margin: auto;
    padding-bottom: 60px;
}
.inner-contact-container{
    display: flex;
    gap: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.inner-contact-container a:hover{
 transform: scale(1.2);
 transition: transform ease-in .3s;
}
.inner-contact-container p{
    font-size: 18px;
}
.inner-contact-container p.dark{
    color: #fff;
}
 @media (max-width: 640px){
    .contact-container{
        max-width: 400px ;
    }
 }
 @media (min-width: 641px) and (max-width: 1024px){
        .contact-container{
        max-width: 550px ;
    }
 }