.logo-icon-container{
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    width: 50px;
    height: 50px;
    margin-top: 6px;
    margin-left: 5px;
}
.logo-icon-container img{
    width: 100%;
    height: 100%;
}
@media(max-width: 768px){
    .logo-icon-container img{
      position: absolute;
      top: 8%;
      left: 1%;
}
}
@media(min-width: 769px) and (max-width: 1168px){
    .logo-icon-container img{
      position: absolute;
      top: 8%;
      left: 1%;
}
}