.navbar {
  position: fixed;
  top: 20px;
  display: flex;
  justify-content: center;
  gap: 12px;
  padding: 15px 20px;
  background-color: #e5e7eb;
  border-radius: 9999px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  z-index: 1000;
}
.nav-item-wrapper {
  position: relative;
}
.nav-link {
  position: relative;
  z-index: 1; 
  font-size: 12px;
  text-decoration: none;
  padding: 12px 18px;
  text-transform: uppercase;
  color: rgb(107 114 128);
  font-weight: 500;
  transition: color 0.2s ease-in-out;
}
.nav-link:hover {
  color: #333;
}
.nav-highlight {
  position: absolute;
  top: 0; 
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 9999px;
  background-color:#ccc;
  z-index: 0;
}
.nav-link.active {
  color: #333;
  font-weight: bold;
}
 @media (max-width: 671px){
  .nav-item-wrapper {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .navbar{
    width: 80%;
    min-height: 25px;
    align-items: center;
    justify-content: space-evenly;
    padding: 12px;
  }
  .nav-link {
    padding: 0 px;
    font-size: 20px; 
  }
   .nav-highlight {
    border-radius: 50%;
  }
 }