.section-title{
    font-size: 30px;
    line-height: 36px;
    text-transform: capitalize;
    font-weight: 500;
    color: #333;
    text-align: center;
}
.section-title.dark{
  color: #fff;
}
@media screen and (max-width: 768px) {
  .section-title{
    font-size: 25px;
  }
 }