.skills-container{
    max-width: 700px;
    margin: 150px auto;
}
.skills-button-container{
    display: flex;
    gap: 10px;
    justify-content: center;
}
.skills-button{
   padding: 8px 18px;
   cursor: pointer;
   font-size: 16px;
   background-color: white;
   color: #333;
   border-radius: 5px;
   border: 1px solid #777;
}
.active-skills-button{
    background-color: #333;
    color: white;
    border: 1px solid #333;
}
.skills-content-container{
    margin-top: 30px;
    justify-content: center;
    display: grid;
    gap: 30px;
    grid-template-columns:repeat(4,120px) ;
}
.skill{
    border: 1px solid #ccc;
    height: 80px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    border-radius: 5px;
    background-color: oklch(97% 0.001 106.424);
    padding: 25px 12px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 4px;
}
.skill:hover{
    transition: ease-in-out .4s;
    background-color: oklch(92.3% 0.003 48.717);
}

@media (max-width: 640px){
 .skills-container{
      max-width: 80%;
      margin: 100px auto;
}

.skills-content-container{
    justify-content: center;
    gap: 20px;
    grid-template-columns:repeat(2,110px) ;
}
.skill{
  padding: 16px 8px;
  height: 70px;
  font-size: 14px;
}
}
@media (min-width: 641px) and (max-width: 1024px){
.skills-container{
    max-width: 600px;
}
.skills-content-container{
    justify-content: center;
    gap: 20px;
    grid-template-columns:repeat(3,1fr) ;
}
.skill{
  padding: 16px 8px;
}
}

