/* Header Css */
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&family=Poppins:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
html {
  scroll-behavior: smooth;
}
body{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: 'Kumbh Sans', sans-serif;
  position: relative;
}
body.dark{
background-color: black;
}
header{
  display: flex;
  justify-content: center;
}
.btn-theme {
  position: fixed;
  border-radius: 50%;
  cursor: pointer;
  border: 2px solid #ccc;
  padding: 12px 15px;
  bottom: 12px;
  right: 12px;
}